@charset "UTF-8";
/* css */
html,
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}
body {
	width: 100%;
  height: 100%;
	/*align-content: center;*/
}

.hidden-thing {
  position: absolute;
  left: 100%;
  width: 50px;
  height: 50px;
  opacity: 0;
}

@font-face {
  font-family: 'Titania';
  src: url('../fonts/Titania-Regular.ttf');
}

/******* Desktop *******/

.container {
  width: 100%;
  margin: 0 auto;
  padding: 0 ;
  color: #454545;
  font-family: 'Roboto', Sans-serif;
  font-size: 1.125em; /*18px*/
  font-weight: 300;
  line-height: 1.5em;
}
/* Headings */
h1,
h2 {
  color: #525252;
  font-family: 'Titania', Serif;
}

h2 {
  text-align: center;
  text-transform: uppercase;
  font-size: 2.625em;
  padding: 5% 0;
  margin: 0;
}

/* Link transition effects */
a {
  text-decoration: none;
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -ms-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  border-bottom: 2px solid rgba(214, 48, 11, 1);
}

a:hover {
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -ms-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  border-bottom: 2px solid rgba(214, 48, 11, 0);
}

nav a,
#artists a,
.socialmedia a,
.artistbio a,
#location a,
footer .socialMedia a {
  border-bottom: none;
}

a:visited,
a:link {
  color: #d6300b;
  font-family: 'Roboto', Sans-serif;
  font-size: 1.125em;
}

img {
  width: 100%;
  height: 100%;
}

/* section wrapper */
.wrapper {
  height: 100%;
  margin: 0;
  padding: 0;
  border-bottom: 2px dotted #454545;
}

.contacts,
.qna,
.address,
.location,
footer {
  width: 40%;
  margin: 5% 30% 10%;
}

/*** BANNER ***/
header {
  background-size: 50%;
  margin: 0;
  padding: 0;
  z-index: 1;
  text-align: center;
}

h1,
header img {
  z-index: 2;
}

h1 {
  display: none;
  font-size: 3.25em;
}

header img {
  width: 30%;
  margin: .5% 0 .75% 0;
}

/*** NAVIGATION ***/
nav {
  margin: 0;
  padding: 0;
  border-top: 2px dotted #454545;
  border-bottom: 2px dotted #454545;
  z-index: 4;
}

nav ul {
  list-style: none;
  text-align: center;
}

nav ul li {
  display: inline-block;
  padding-right: 8%;
}


nav ul li:last-child {
  padding-right: 0;
}

nav ul li a {
  font-size: 1.125em;
}

#sticky_navigation { 
  padding: 0;
  margin: 0;
  width:100%;
  background:rgba(255,255,255,.93);
  z-index: 8000;
  
}

#sticky_navigation ul {
  padding-left: 0%;
}

#sticky_navlogo {
  display:none;
  border:none;
  width: 68px;
  float: left !important;
  padding: 0;
  margin-left: 3%;
  
    }
/** add scrolling class for gray transparent background
when scrolling */
#sticky_navigation.scrolling {
  background:rgba(82, 82, 82, .9);
}

	
/*** HOME ***/
.contacts {
  background-color: #fff;
  -webkit-column-count: 2; /* Chrome, Safari, Opera */
  -moz-column-count: 2; /* Firefox */
  -ms-column-count: 2; /* IE */
  -o-column-count: 2; /* Opera */
  column-count: 2;
  -webkit-column-rule: 1.5px dotted #454545; /* Chrome, Safari, Opera */
  -moz-column-rule: 1.5px dotted #454545; /* Firefox */
  -ms-column-rule: 1.5px dotted #454545; /* IE */
  -o-column-rule: 1.5px dotted #454545; /* Opera */
  column-rule: 1.5px dotted #454545;
}

.contacts p{
  margin: 0;
}

.contacts p,
.contacts a {
	font-family: 'Roboto Slab', serif;
}

.right {
  padding-left: 4%;
}

.left {
  text-align: right;
  padding-right: 4%;
}

/*** MISSION ***/
#mission {
  background: url(../images/missionGrayXL.gif) center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -ms-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding: 10% 0;
}

.statement {
  width: 40%;
  margin: 0 auto;
  background: #fff;
  box-shadow: 10px 10px 10px #454545;
}

.statement p {
  padding: 0 4% 4%;
  margin: 0;
}

/*** ARTISTS ***/

#artist{
	margin-left: 6%;
	padding-bottom: 5%;	
}

.artist {
  display: inline-block;
  margin-right: 3%;
  width: 21%;
  align-items: center;
}

.artist:last-child{
	margin-right: 0;
	padding-right: 0;
}
.artistmobile {
	display: none;
	}

.artistmobile, 
.artist a {
  text-decoration: none;
  }

.artistmobile, 
.artist a:link{
	font-size: 25px;
	letter-spacing: .5px;
}

.artistmobile, 
.artist a:hover {
  border-bottom: none;
  text-decoration: none;
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -ms-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
}

.artist li{
	padding-top: 5%;
	text-decoration: underline;
}

.artist img{
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  -ms-filter: grayscale(100%);
  -o-filter: grayscale(100%);
  filter: grayscale(100%);
  filter: url(grayscale.svg); /* Firefox 4+ */
  filter: gray; /* IE 6-9 */ 
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -ms-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out; 
}

/** Hacking Firefox **/
@-moz-document url-prefix() {
  .artist img { }
  .artist img{
  -moz-filter: none;
  filter: none;
}
.artist img:hover{
  -moz-filter: none;
  filter: none;
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -ms-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
}
}

.artist img:hover{
  -webkit-filter: none;
  -moz-filter: none;
  -ms-filter: none;
  -o-filter: none;
  filter: none;
  
}

#artistpopout{
  width: 80%;
  margin: auto;
  padding-top: 5%;
  align-items: center;
  
  }
.artistpopout{
  width: 80%;
  margin: auto;
  padding-bottom: 5%;
  align-items: center;
  
  display: none;
  }

.artistphoto{
  display: inline-block;
  margin: 5px;
  width: 23%;
}

.profilepic{
  width: 35%;
  float:left;
  margin-right: 5px;
  padding-bottom: 25px;
}
.socialmedia{
  float:left;
  width: 100%;
  
}
.icon{
  border-radius: 100%;
  margin: 3%;
  width:50px;
}
.artistbio{
  float:left;
  width: 45%;
  padding-left: 20px;
  font-family: 'Roboto', Sans-serif;
}

.artistbio h2{
   text-align:left;
}

.gallery{
  width:100%;
  clear:both;
}
.gpic{
  width:19%;
}

li{
  list-style:none;
  text-align:center;
}	

/*** FAQ ***/
#faq {
  background: url('../images/faqbgleftDT2.png') no-repeat 0 0,
              url('../images/faqbgrightDT2.png') no-repeat 100% 0 ;
  background-size: 15% 100%;
  overflow: auto;
}

article.qna h3 {
  cursor: pointer;
}

.qna h3 i {
  display: none;
}

.rule {
  /*padding-left: 0;*/
}

.rule li {
  text-align: left;
  list-style: disc;
}

/*** LOCATION ***/
#location {
	background: url('../images/locationbgDT.png') no-repeat center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-ms-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	margin: 0;
	padding: 0;
 	z-index: 1;
}

#location h2 {
  z-index: 2;
}

.address {
  display: flex;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  z-index: 2;
  box-shadow: 8px 8px 8px #616161;
}

.address p,
.address a,
.address img {
  -webkit-flex: 1;
  -moz-flex: 1;
  -ms-flex: 1;
  -o-flex: 1;
  flex: 1;
}

.address p {
  background: #fff;
  margin: 0;
  line-height: 1.8em;
  font-family: 'Roboto Slab', serif;
}

.address span {
  display: block;
  margin: 35% auto;
  width: 50%;
  padding-left: 10%;
}

.address,
.address a:hover
.socialMedia
.socialMedia a:hover {
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -ms-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
}

/*** FOOTER ***/
footer {
  margin-bottom: 5% !important;
  text-align: center;
}

footer h2 {
  padding-top: 0;
}

.socialMedia {
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  -o-justify-content: center;
  justify-content: center; 
  padding: 10% 0;
}

.socialMedia a {
	padding: 0 1%;
  display: inline-block;
}

.copyRight p {
  padding: 0;
}

.copyRight {
	text-align: center;
}

/**************************************************
                laptop View
**************************************************/
@media screen and (max-width: 1330px) {

.contacts,
.address,
.location,
footer {
  width: 70%;
  margin: 5% 15% 10%;
}

.statement {
  width: 70%;
  margin: 0 auto;
}

/*************************
    Header
*************************/
header {
  width: 100%;
  text-align: center;
}

header img {
  width: 45%;
}

/*************************
    Navigation
*************************/
nav {
  margin-top: 4%;
}

nav ul li {
  font-size: .9em;
}

/*************************
    "Home" Hours
*************************/

#home {
  width: 100%;
  padding-bottom: 0%;
}

/*************************
  Paragraphs and Headings
*************************/

p {
  font-size: 1em;
  line-height: 1.3em;
}

h1,
h2 {
  font-size: 1.8em;
}


/*************************
    Artists
*************************/
/*.artist {
    margin: 0.5%;
    width: 48%;
  padding-bottom: 5%;
}
.artistmobile {
  display: none;
  }
.rightpic {
  float: right;
  clear: right;
}

.leftpic {
  float: left;
  clear: left;
}

.gpic{
  width:45%;
}

.artistbio h2{
  padding-top: 0;
  
 }*/



/*************************
    FAQ
*************************/

#faq {
  clear: both;
}

.qna {
  width: 50%;
  margin: 5% 25% 10%;
}

/*************************
    Location
*************************/

.address span {
  margin: 30% auto;
  padding-left: 26%;
  width: 100%;
}

/*************************
    Footer
*************************/

footer {
  
}

.socialMedia {
  padding: 5% 0;
}

}

/**************************************************
                Tablet View
**************************************************/

@media screen and (max-width: 1024px) {


/*************************
  Paragraphs and Headings
*************************/

p {
  font-size: .9em;
  line-height: 1.3em;
}

h1,
h2 {
  font-size: 1.2em;
}

/** link transition effect**/
a {
  text-decoration: underline;
}

a,
a:hover {
  border-bottom: none;
}

nav ul li a {
  text-decoration: none;
}


/*************************
    Artists
*************************/
#artist {
  margin-left: 0;
}

.artist {
    margin: 0.5%;
    width: 48%;
	padding-bottom: 5%;
}
.artistmobile {
	display: none;
	}
.rightpic {
  float: right;
  clear: right;
}

.leftpic {
  float: left;
  clear: left;
}

.gpic{
	width:45%;
}

.artistbio h2{
	padding-top: 0;
  
 }


/**************************************************
                Mobile View
**************************************************/

@media screen and (max-width: 767px) {

.contacts,
.qna,
.address,
.location,
footer {
  width: 80%;
  margin: 5% 10% 10%;
}

.statement {
  width: 80%;
  margin: 0 auto;
}

/*************************
		Header
*************************/
header {
	width: 100%;
	text-align: center;
}

header img {
  width: 70%;
}

.header-logo {
	display: none;
}

/*************************
		Navigation
*************************/

#nav-toggle span, #nav-toggle span:before, #nav-toggle span:after {
  cursor: pointer;
  border-radius: 1px;
  height: 5px;
  width: 35px;
  background: white;
  position: absolute;
  display: block;
  content: '';
}
#nav-toggle span:before {
  top: -10px;
  
}
#nav-toggle span:after {
  bottom: -10px; 
}

nav{
  border-top: 0px dotted #454545;
  border-bottom: 0px dotted #454545;
}

/*************************
		"Home" Hours
*************************/

#home {
	width: 100%;
	padding-bottom: 0%;
	
}

 .contacts {
  background-color: #fff;
  -webkit-column-count: 1; /* Chrome, Safari, Opera */
  -moz-column-count: 1; /* Firefox */
  -ms-column-count: 1; /* IE */
  -o-column-count: 1; /* Opera */
  column-count: 1;
  -webkit-column-rule: none; /* Chrome, Safari, Opera */
  -moz-column-rule: none; /* Firefox */
  -ms-column-rule: none; /* IE */
  -o-column-rule: none; /* Opera */
  column-rule: none;
}

.contacts p {
	text-align: left;
	padding: 0;
}

.right,
.left {
  padding-left: 20% !important;
  margin: 0 auto;
}

/*************************
		Artists
*************************/
.artist {
  	display: none;
}

.artistmobile {
	display:block;
	width: 100%;
	padding-top: 20%;
	padding-bottom: 1%;
}

#matt {
	padding-top: 5%;
}

.artistmobile li{
	padding-top: 3%;
}

.artistpopout{
	display: block;
	border-bottom: dotted;
}
.gpic{
	width:100%;
}


.profilepic{
	width: 100%;

}
.artistbio{
	width: 100%;
	padding-left: 0;
	text-align: left;
}


/*************************
  Paragraphs and Headings
*************************/

p,
a,
a:visited,
a:link {
  font-size: 0.9em;
  line-height: 1.2em;
}

h1,
h2 {
  font-size: 1.5em;
}

h3{
  font-size: 1.1em;
}
/*************************
    FAQ
*************************/

#faq {
  background: none;
}

#faq h3 {
  border-top: 1px solid #BFBFBF;
  padding-top: 1em;
}

.qna h3 i {
  display: inline-block;
  padding-right: 5%;
}

article.qna p {
  display: none;
}

/*************************
		Location
*************************/

.address {
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  -o-flex-direction: column;
  flex-direction: column;
}

.address p,
.address a {
  width: 100%;
  margin: 0 auto;
  z-index: 3;
}

.address p {
  line-height: 1.2em;
}

.address span {
  padding: 0 auto;
}

/*************************
		Footer
*************************/

.socialMedia {
  padding: 10% 0;
}

.socialMedia img {
	width: 50px;
}

}

@media screen and (max-width: 767px) and (orientation: landscape) { 

.right,
.left {
  padding-left: 30% !important;
}

}
